<div class="container">
  <h1> <%= @list.name %> </h1>

<h3>Add movie</h3>

<div class="container">
  <div class="row mt-4">
    <% @list.movies.each do |movie| %>
     <div class="col-4">
      <div class="card-category">
        <%= movie.title %>
      </div>
   </div>
    <% end %>
 </div>
</div>

<%= link_to "Add movie", new_list_bookmark_path(params[:id]) %>

<br>

<%# <%= link_to "Back to Lists", lists_path %>

</div>
